<ion-header>
  <ion-toolbar mode="ios">
    <img class="leftIcon" src="assets/icon/back.png" />
    <ion-title> </ion-title>
    <img class="rightIcon" src="assets/icon/help.png" />
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="titleBlock">
    <p class="titleHeading">
      Send Packages
    </p>
    <p class="subHeadTxt">
      On demand local courier
    </p>
  </div>

  <div class="trackBlock">
    <div class="statusRow">
      <p>Pickup Address</p>
      <p>
        12, evita residency, 69 & 17, Kavuri Hills, Madhapur, Hyderabad,
        Telangana 500033, India
      </p>
      <p>shahid - 8820111288</p>
    </div>

    <div class="statusRow">
      <p>Delivery Address</p>
      <p>
        12, evita residency, 69 & 17, Kavuri Hills, Madhapur, Hyderabad,
        Telangana 500033, India
      </p>
      <p>shahid - 8820111288</p>
    </div>

    <div class="statusRow">
      <p>Choose Category</p>

      <ion-select placeholder="Food | Flowers">
        <ion-select-option value="fd">Food</ion-select-option>
        <ion-select-option value="fl">Flowers</ion-select-option>
      </ion-select>
    </div>
  </div>

  <div class="instBlock">
    <img src="assets/icon/dragIcon.png" />
    <ion-input
      placeholder="Any instructions? Eg: Don't ring the doorbell"
    ></ion-input>
  </div>

  <div class="chargesBlock">
    <p class="blockTitle">Invoice</p>
    <p class="blockItem">Partner delivery fee <span>Free</span></p>

    <p class="itemTotal">Grand Total <span>₹ 0</span></p>
  </div>

  <div class="paymentBlock">
    <div class="amountBlock">
      <p>
        <span>₹ 0 </span><br />
        Inclusive of all charges
      </p>
    </div>

    <ion-button shape="round">Complete Profile</ion-button>
  </div>

  <p class="tncBlock">
    By confirming I accept this order doesn't contain illegal/restricted items,
    if illegal/restricted items are found by Inyana Partner, the may report it
    to the law enforcement authorities. <span>Terms and Conditions.</span>
  </p>
</ion-content>
