<ion-header>
  <ion-toolbar mode="ios">
    <img class="leftIcon" src="assets/icon/locationIcon.png" />
    <ion-title> </ion-title>
    <img class="rightIcon" src="assets/icon/profileIcon.png" />
  </ion-toolbar>
</ion-header>

<ion-content>
  <img class="banner" src="assets/icon/bannerImg.png" />
  <ion-button class="orderNow" expand="block">Order Now</ion-button>

  <div class="categoryBlock">
    <div class="catBlock">
      <img src="assets/icon/doorstepServicingImg.png" />
      <p>Doorstep Servicing</p>
    </div>

    <div class="catBlock">
      <img src="assets/icon/doorstepShoppingImg.png" />
      <p>Doorstep Shooping</p>
    </div>
  </div>

  <p class="groupHeading">What would you like to do today?</p>

  <div class="subCategoryBlock">
    <div class="subCatBlock">
      <img src="assets/icon/repairImg.png" />
      <p>Mobile Phone Servicing</p>
    </div>

    <div class="subCatBlock">
      <img src="assets/icon/appliancesImg.png" />
      <p>Home Appliance Servicing</p>
    </div>

    <div class="subCatBlock">
      <img src="assets/icon/laundryImg.png" />
      <p>Laundry Service</p>
    </div>

    <div class="subCatBlock">
      <img src="assets/icon/packageImg.png" />
      <p>Send Packages</p>
    </div>
  </div>

  <div class="subCategoryBlock">
    <div class="subCatBlock">
      <img src="assets/icon/giftsImg.png" />
      <p>Gifts and Lifestyle</p>
    </div>

    <div class="subCatBlock">
      <img src="assets/icon/groceriesImg.png" />
      <p>Daily Groceries</p>
    </div>

    <div class="subCatBlock">
      <img src="assets/icon/vegetableImg.png" />
      <p>Fruits and Vegetables</p>
    </div>

    <div class="subCatBlock">
      <img src="assets/icon/meatImg.png" />
      <p>Meat and Fish</p>
    </div>
  </div>

  <p class="groupHeading">Special Online Services</p>

  <div class="servicesBlock">
    <div class="serviceBlock">
      <p>Online Financial Services</p>
      <img src="assets/icon/financeImg.png" />
    </div>

    <div class="serviceBlock">
      <p>Online Legal Services</p>
      <img src="assets/icon/legalImg.png" />
    </div>

    <div class="serviceBlock">
      <p>Online Medical Services</p>
      <img src="assets/icon/healthImg.png" />
    </div>
  </div>

  <div class="advertBlock">
    <img src="assets/icon/refferImg.png" />
    <ion-button expand="block">Refer Now</ion-button>
  </div>
</ion-content>
