<ion-header>
  <ion-toolbar mode="ios">
    <img class="leftIcon" src="assets/icon/back.png" />
    <ion-title>Confirm Order</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <p class="groupHeading">Store Items</p>

  <div class="productBlock">
    <div class="infoBlock">
      <img src="assets/icon/productImg.png" />
      <div class="desc">
        <p>nless Standard Pack Service Voucher</p>
        <p>1 Pack</p>
      </div>
    </div>

    <div class="qtyBlock">
      <span>−</span>
      <span>1</span>
      <span>+</span>
    </div>

    <div class="amountBlock">
      <p>₹ 399</p>
    </div>
  </div>

  <div class="instBlock">
    <img src="assets/icon/dragIcon.png" />
    <ion-input
      placeholder="Any instructions? Eg: Don't ring the doorbell"
    ></ion-input>
  </div>

  <div class="chargesBlock">
    <p class="blockTitle">Invoice</p>
    <p class="blockItem">Item Total <span>₹ 399</span></p>
    <p class="blockItem">
      <span>Partner delivery fee <img src="assets/icon/infoIcon.png" /> </span>
      <span>₹ 50</span>
    </p>
    <p class="blockItem">
      Offer discount (Can't be combined with InayaCash) <span>-₹ 30</span>
    </p>

    <p class="itemTotal">Grand Total <span>₹ 419</span></p>
  </div>

  <div class="trackBlock">
    <div class="statusRow">
      <p>Deliver to Home</p>
      <p>
        12, Bengaluru, total gas, Bengaluru, Karnataka, India
      </p>
    </div>
    <img src="assets/icon/pencilIcon.png" />
  </div>

  <div class="noteBlock">
    <p>
      Inaya is a techology platform to facilitate transaction of business. The
      products and services are offered for sale by the sellers. The user
      authorized the delivery personnel to be his agent for delivery of the
      goods. For details read Terms and conditions.
    </p>
    <p>
      *Value may change if the total order valuce change. InayaCash will be
      credited 7 days after your complete order is delivered. InayaCash will not
      be credited in case a return request is initiated for the order.
    </p>
    <p>**Coupon discount value may change if the total order value changes</p>
  </div>

  <div class="payment">
    <p>1 Item <span>●</span><span>₹ 419</span><span>₹ 419</span></p>
    <ion-button shape="round">Pay Now</ion-button>
  </div>

  <div class="alertBlock">
    <p>
      <img src="assets/icon/alertIcon.png" /> Final amount will be updated once
      partner checks at the store.
    </p>
  </div>
</ion-content>
